name: run-actions-using-diff-files

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [ main ]

env:
  base_branch: main
  diff_path: '**'

jobs:
  run-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Switch to pull request branch
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Install textlint
        run: npm install textlint textlint-rule-no-dropping-the-ra

      - name: Fetch base branch
        run: git fetch origin ${base_branch}:${base_branch}

      - name: Run actions using diff_files
        run: |
          diff_files=$(git diff --name-only HEAD ${base_branch} -- "${diff_path}" \
            | tr "\n" " ")
          echo "# diff_files: ${diff_files}"
          ####
          # ここから先に ${diff_files} を使った処理を記載
          npx textlint ${diff_files} --rule textlint-rule-no-dropping-the-ra
